<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCFirstWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h2 class="text-center my-3">Header Title</h2>
        </div>
    </header>
    <div class="row m-1 p-1">
        <div class="col-3 border border-primary">
            <h4 class="display-6 text-center mb-4">Navigation</h4>
            <a class="nav-link" asp-controller="Home" asp-action="Index">HomeController</a>
            <a class="nav-link" asp-controller="Test" asp-action="Index">TestController</a>
            <a class="nav-link" asp-controller="Test" asp-action="TestViewBag">Test ViewBag</a>
            <a class="nav-link" asp-controller="Test" asp-action="Formulier">Formulier</a>
        </div>
        <div class="col-9 border border-primary">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            Footer - @DateTime.Now.ToString("dd-MM-yyyy")
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
