@page
@model Oef1.Pages.NieuweLocatieModel
@{
}
<form method="post">
    <fieldset>
        <legend>Locatie toevoegen</legend>
        <br />
        <label for="postcode">Postcode:</label>
        <input type="text" name="postcode" />
        <br />
        <label for="city">City:</label>
        <input type="text" name="city" />
        <br />
        <label>&nbsp;</label>
        <br />
        <input type="submit" value="Submit" />
    </fieldset>
</form>
