
@model Test.Models.Auto

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Merk</th>
            <th>Km stand</th>
            <th>Leeftijd</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Merk</td>
            <td>@Model.KmStand</td>
            <td>@Model.Leeftijd</td>
        </tr>
    </table>
</div>