@page
@model Test.Pages.RazorPageModel
@{
    Layout = "_Layout";
}
<p>Dit is een razor page</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Klant-id</th>
            <th>Klant-naam</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>Klant-id</td>
            <td>Klant-naam</td>
        </tr>
        <tr>
            <td>#</td>
            <td>Klant-id</td>
            <td>Klant-naam</td>
        </tr>
        <tr>
            <td>#</td>
            <td>Klant-id</td>
            <td>Klant-naam</td>
        </tr>
    </tbody>
</table>
