@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Logout completed</h1>
<div>
    <hr />
    <h4>U bent uitgelogd.</h4>
    <hr />
</div>
