@model MVCPXLParty2021.ViewModels.CreatedUser

@{
    ViewData["Title"] = "RegistrationComplete";
}

<h1>RegistrationComplete</h1>

<div>
    <h4>Welkom @Model.IdentityUser.Email</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>

